.array-container{
  align-items: center;
  display: flex;
  margin-top: auto;
  width:max-content;
}

.array-bar{
    background-color: rgb(89, 198, 212);
    display: inline-block;
    margin:0 1px;
    border-radius: 0.5em;
    margin: 0.15%;
}

body{
    background-image: url('image.jpg');
}

.btn {
    background-color: rgb(6, 231, 186);
    position: relative;
    color: rgba(1, 1, 16, 0.925)!important;
    padding: auto!important;
    white-space: normal!important;
    border-color: rgb(153, 230, 230)!important;
    cursor: pointer;
    border-style: solid!important;
    margin-left: 1ex;
    margin-right: 1ex;
    border-radius: 10px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 


.btn-new-array:hover{
 background-color: rgb(196, 5, 5);
 color: rgb(153, 230, 230)!important;
}
.btn-insertion-sort:hover{
 background-color: rgb(196, 5, 5);
 color: rgb(153, 230, 230)!important;
}
.btn-merge-sort:hover{
 background-color: rgb(196, 5, 5);
 color: rgb(153, 230, 230)!important;
}
.btn-quick-sort:hover{
 background-color: rgb(196, 5, 5);
 color: rgb(153, 230, 230)!important;
}

.app-footer {
  display: flex;
  overflow-x: auto;
  margin-top: auto;
}

.app-footer ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
}

.visualizer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
@media (min-width: 700px) {
  .app-footer {
    justify-content: center;
  }
}